<mat-toolbar color="primary">
    <span>Admin Panel</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
        <a mat-list-item routerLink="/users" routerLinkActive="active-link">Users</a>
        <!-- Add more navigation items as needed -->
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  