.container {
    margin-top: 50px;
  }
  
  .card-panel {
    margin-bottom: 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .white-text {
    color: #ffffff;
  }
  
  .file-field input[type="text"] {
    height: 2.7rem;
  }
  
  .btn-submit {
    margin-top: 20px;
  }
  