<nav class="navbar navbar-dark bg-orange fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GalactiTrek </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <app-login></app-login>
      </li>
      <li class="nav-item" *ngIf="!(auth.isAuthenticated$ | async)">
        <a class="nav-link btn btn-light" href="users/add" routerLink="users/add">Register</a>
      </li>
    </ul>
    <app-dark-mode-button></app-dark-mode-button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown" *ngIf="auth.isAuthenticated$ | async">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employees
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" routerLink="employees/add">Add Employee</a></li>
              <li><a class="dropdown-item" href="employees" routerLink="employees">View Employee</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="employees/search" routerLink="employees/search">Search Employee</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown" *ngIf="auth.isAuthenticated$ | async">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="users" routerLink="users">View Users</a></li>
              <li><a class="dropdown-item" href="upload" routerLink="upload">Upload Image</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="users/search" routerLink="users/search">Search Users</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
