<nav class="navbar navbar-dark bg-orange" *ngIf="showNavbar">
  <!-- Navbar content -->

  <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <!-- Offcanvas content -->
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <!-- Other nav items -->

      <!-- Employees Dropdown Menu - Visible only if the user is an admin -->
      <li class="nav-item dropdown" *ngIf="(auth.isAuthenticated$ | async) && (isAdmin | async)">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Employees
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="employees/add">Add Employee</a></li>
          <li><a class="dropdown-item" href="employees" routerLink="employees">View Employee</a></li>
          <li><a class="dropdown-item" href="employees" routerLink="admin">View Employee</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="employees/search" routerLink="employees/search">Search Employee</a></li>
        </ul>
      </li>

      <!-- Users Dropdown Menu - Visible only if the user is an admin -->
      <li class="nav-item dropdown" *ngIf="(auth.isAuthenticated$ | async) && (isAdmin | async)">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Users
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="users" routerLink="users">View Users</a></li>
          <li><a class="dropdown-item" href="upload" routerLink="upload">Upload Image</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="" routerLink="users/search">Search Users</a></li>
        </ul>
      </li>
    </ul>
    <form class="d-flex mt-3" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>
